/out/production/TASKS1/com/epam/Embranchment/task2/Main.class
/out/production/TASKS1/com/epam/Embranchment/task5/Solution.class
/out/production/TASKS1/com/epam/Cycles/task1/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task2/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task3/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task4/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task5/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task6/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task7/Условие.jpg
/out/production/TASKS1/com/epam/Cycles/task8/Условие.jpg
/TASKS1/src/com/epam/Cycles/task1/Условие.jpg
/TASKS1/src/com/epam/Cycles/task2/Условие.jpg
/TASKS1/src/com/epam/Cycles/task3/Условие.jpg
/TASKS1/src/com/epam/Cycles/task4/Условие.jpg
/TASKS1/src/com/epam/Cycles/task5/Условие.jpg
/TASKS1/src/com/epam/Cycles/task6/Условие.jpg
/TASKS1/src/com/epam/Cycles/task7/Условие.jpg
/TASKS1/src/com/epam/Cycles/task8/Условие.jpg
